<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>
<body>
    <h3 class="masthead-brand">Welcome to  RC Inventory System </h3>
    <body>
      <p> This is the web application made for employees who want to take specifics tools from the companies inventory system </p>
      <a href="/checkin" class="btn btn-primary ">Check In</a>
    <a href="/checkout" class="btn btn-success ">Check Out</a>
        
        <button type="submit">Generate QR Code</button>
    </form>
</body>
</html>
